* {
	font-size: 12px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none !important;
	color: #333333;
}

a:hover {
	text-decoration: none !important;
}

a:active {
	text-decoration: none !important;
}

span.label_button {
	background-color: #F0F0EB;
	border: 1px solid #164D7E;
	border-radius: 3px 3px 3px 3px;
	color: black;
	display: inline-block;
	height: 15px;
	line-height: 15px;
	padding: 2px 6px 2px;
}

li {
	list-style-type: none;
}
.r{
color:red;
}